@import url('https://fonts.googleapis.com/css?family=Nunito|Poppins:500|Open+Sans');

body, html {
  height: 100%;
  background-color: #000000;
  color: rgba(0,0,0,.75);
  font-family: 'Nunito';
  margin: 0px;
}